body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 15px;
  margin: 0;
}

h2 {
  text-align: center;
}

.card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #2ea6ff;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
