body {
  font-family: sans-serif;
  background: #f4f6f8;
  padding: 15px;
}

#ads div {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

